---
import Arrow from "../assets/socials/Arrow.svg"
import Github from "../assets/socials/github.svg"
import LinkedIn from "../assets/socials/linkedin.svg"
import Whatsapp from "../assets/socials/whatsapp.svg"
import 'aos/dist/aos.css';

---

<div class="socials"  data-aos="fade-up">
    <a href="https://www.linkedin.com/in/nilce-vila-53231a238/" target="_blank" rel="noopener noreferrer">
        <img src={LinkedIn.src}/>
    </a>
    <a href="https://github.com/nilcevc" target="_blank" rel="noopener noreferrer">
        <img src={Github.src}/>
    </a>
    <a href="https://wa.me/50688306278" target="_blank" rel="noopener noreferrer">
        <img src={Whatsapp.src}/>
    </a>
    <img src={Arrow.src}/>
</div>

<style>
    .socials{
        position: fixed;
        bottom: -10px;
        left: 50px;
        width: 1rem;
    }

    .socials img{
        width: 1.5rem;
        padding-bottom: 0.4rem;
    }

    @media screen and (max-width: 700px) {
        .socials{
            left: 15px;
        }
    }
</style>

<script>
    import AOS from "aos";

    AOS.init({
        duration: 1000,
        once: true,
    });
</script>
