---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import shiny from '../assets/shiny.svg';
import logo from '../assets/logo.svg';
---

<div id="container">
	<img id="background" src="/img/bg-inicio.png" alt="" fetchpriority="high" />
	<main>
		<section id="hero">
            <div class="shiny">
                <figure><img src={shiny.src} fetchpriority="high"/></figure>
                <img src={logo.src} alt="Logo" />
            </div>
            <h2>Tu visión, mi inspiración</h2>
            <div class="paragraph">
                <p>Desarrolladora en software Full-Stack, especializada en la creación de interfaces funcionales, intuitivas y visualmente atractivas. Con experiencia en tecnologías como HTML, CSS, JavaScript, Java, Node.js, Astro, React, Spring Boot, Git y manejo de bases de datos relacionales y no relacionales.</p>
            </div>
		</section>
        <section id="projects">

        </section>
        <section id="habilities">

        </section>
        <section id="education">

        </section>
        <section id="contact">

        </section>

	</main>
</div>

<style>

    // Fonts
    @font-face {
        font-family: "Montserrat-Bold";
        src: url("/font/Montserrat-Bold.ttf") format('opentype');
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Montserrat-Light";
        src: url("/font/Montserrat-Light.ttf") format('opentype');
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Montserrat-Regular";
        src: url("/font/Montserrat-Regular.ttf") format('opentype');
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "MuseoModerno-Light";
        src: url("/font/MuseoModerno-Light.ttf") format('opentype');
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "MuseoModerno-SemiBold";
        src: url("/font/MuseoModerno-SemiBold.ttf") format('opentype');
        font-style: normal;
        font-display: swap;
    }

    h1{
        font-family: "MuseoModerno-Semibold", sans-serif;
        font-size: 40px;
    }

    h2 {
        font-family: "MuseoModerno-Light", sans-serif;
        font-size: 36px;
        color: #EF2868;
        margin: 0;
    }

    h3{
        font-family: "Montserrat-Bold", sans-serif;
        font-size: 32px;
    }

    h4{
        font-family: "Montserrat-Bold", sans-serif;
        font-size: 20px;
    }

    h5{
        font-family: "Montserrat-Light", sans-serif;
    }

    h6{
        font-family: "Montserrat-Light", sans-serif;
        font-size: 10px;
    }

    p {
        font-family: "Montserrat-Regular", sans-serif;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.006em;
        margin: 0;
    }

	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

    .shiny{
        display: flex;
        width: 50%;
        justify-content: end;
        align-items: flex-end;
    }

	#hero {
        padding: 0 5rem;
        width: 100%;
		display: flex;
		align-items: end;
		flex-direction: column;
		justify-content: center;
	}

    .paragraph {
        width: 40%;
        text-align: right;
    }


	@media screen and (max-height: 368px) {

	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
		}
	}
</style>
